<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mem" mimeType="text/html" />
            <mimeMap fileExtension=".data" mimeType="text/html" />
			<mimeMap fileExtension=".unity3d" mimeType="text/html" />
        </staticContent>
    </system.webServer>
</configuration> 